main {
    display: grid;
    grid-template-areas: "h h h h"
                         "as1 ar ar as2"
                         "f f f f";
    grid-template-columns: 300px auto 300px;
}

header, #bal, article, #jobb, footer {
    border: 1px solid black;
}

header {
    grid-area: h;
    margin-bottom: 25px;
}

#bal {
    grid-area: as1;
}

#bal img {
    width: 150px;
}

article {
    grid-area: ar;
    margin: 0 25px 0 25px;
    text-align: center;
    background-color: lightskyblue;
}

#csonak img {
    width: 100px;
}

#csonak .csonak {
    width: 300px;
}

#jobb {
    grid-area: as2;
}

footer {
    grid-area: f;
    margin-top: 25px;
    background-color: lightblue;
}

.kiemel {
    border: 2px solid red;
    cursor: grab;
}